<div class="row" id="employeeForm">
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :image, "Image", class: "form-label" %>
    <%= form.file_field :image, class: "form-control", accept: "image/*", placeholder: "Enter name" %>
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :name, "Name", class: "form-label" %> <span style="color:red">*</span>
    <%= form.text_field :name, class: "form-control", :required => true, placeholder: "Enter name" %>
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :email, "Email", class: "form-label" %><span style="color:red">*</span>
    <%= form.email_field :email, class: "form-control",:required => true, placeholder: "Enter email" %>
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :designation, "Designation", class: "form-label" %><span style="color:red">*</span>
    <%= form.text_field :designation, class: "form-control",:required => true, placeholder: "Enter designation" %>
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :phone, "Phone Number", class: "form-label" %><span style="color:red">*</span>
    <%= form.text_field :phone, class: "form-control",:required => true, placeholder: "Enter phone number" %>
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :joining_date, "Joining Date", class: "form-label" %><span style="color:red">*</span>
    <%= form.date_field :joining_date, class: "form-control",:required => true, placeholder: "Select joining date" %>
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :employee_id, "Employee Id", class: "form-label" %><span style="color:red">*</span>
    <%= form.text_field :employee_id, class: "form-control",:required => true, placeholder: "Enter employee" %>
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :start_date, "Start Date", class: "form-label" %><span style="color:red">*</span>
    <%= form.date_field :start_date, class: "form-control",:required => true, placeholder: "Select start date" %>
  </div>
  <div class="col-md-4 col-sm-12 mt-2">
    <%= form.label :integration_end_date, "End Date", class: "form-label" %>
    <%= form.date_field :end_date, class: "form-control", placeholder: "Select end date" %>
  </div>
  <p></p>
  <% if @employee.id.present? %>
    <div class="col-md-4 col-sm-12">
      <span>Platforms & Permissions</span>
    </div>
    <%  @employee&.employee_integrations&.each do |employee_int| %>
    <% if !employee_int.id.present? %>
      <% next %>
    <% end %>
    <div class="col-md-2 col-sm-4">
      <div class="mt-2 p-1 d-flex" style="border: 1px solid rgba(0, 0, 0, .125);border-radius:7px;align-items: center;justify-content: center;">
          <%= image_tag employee_int&.integration&.logo, class: "rounded-circle", style: "height: 22px;" %>
          <span><%= employee_int&.integration&.name %></span>
          <%= image_tag "ok.svg", class: "rounded-circle", style: "height: 14px;" %>
      </div>
    </div>
    <% end %>
  <% end %>
  <div class="col-md-12 col-sm-12 d-flex mt-3" style="justify-content:end;align-items:end;">
    <button type="button" onclick="toggleModal()" class="btn btn-primary">Select platform & permission</button>
    <div id="integrationModal" class="modal-container hide-modal">    
      <div class="backdrop"></div>
      <div class="show" id="shareRecipeModal" tabindex="-1" aria-labelledby="newItemRemoteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modal_content">
                <div class="modal-header">
                    <h4 class="modal-title" id="newItemRemoteModalLabel">Platforms</h4>
                    <button type="button" class="btn-close" onclick="toggleModal()" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                      <%= form.fields_for :employee_integrations do |f| %>
                          <%= f.hidden_field :integration_user_id, value: f.object.integration_user_id %>
                            <div class="col-md-12 col-sm-12 d-flex justify-content-between">
                                <div class="d-flex p-2">
                                  <%= image_tag f.object.integration&.logo ,class: "rounded-circle", style: "height: 28px;"%>
                                  <div class="d-flex flex-column" style="padding-left: 10px;">
                                      <b><%= f.object.integration&.name %></b>
                                  </div> 
                                  <%= f.hidden_field :integration_id, value: f.object.integration_id %>
                                </div>
                                <div>
                                  <%= f.check_box :is_permission_assigned, value: nil %>
                                </div>
                            </div>
                            <% if f.object.integration_id == 6 %>
                            <div class="roles" style="margin-left:10px;">
                              <div class="row">
                                <div class="col-md-6 col-sm-6">
                                  <%= f.radio_button :account_type, "team_admin", checked: false %>
                                  <%= f.label :account_type, "Team Admin", value: "false"  %>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                  <%= f.radio_button :account_type, "member_only", checked: true  %>
                                  <%= f.label :account_type, "Member", value: "true"  %>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6 col-sm-6">
                                  <%= f.radio_button :account_type, "user_management_admin", checked: false %>
                                  <%= f.label :account_type, "User Management Admin", value: "true"  %>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                  <%= f.radio_button :account_type, "support_admin"  %>
                                  <%= f.label :account_type, "Support Admin", value: "false"  %>
                                </div>
                              </div>
                            </div>
                            <% else %>
                            <%= f.hidden_field :account_type, value: "developer" %>
                            <% end %>
                            <% if f.object.employee_id.present? && f.object.id.present? %>
                            <div class="mb-1" style="display: flex;justify-content: end;align-items: end;">
                            <%= f.hidden_field :is_integration_deleted,class: "integration#{f.object.id}" , value: "0" %>
                            <%= image_tag("delete.svg",class: "remove-access", style: "height: 22.5px;width: 22.5px;", "data-id": f.object.id )  %>
                            </div>
                            <% end %>
                            <hr>
                      <% end %>
        
                        <div class="col-md-2 col-sm-2 form-group">
                            <label for="start">Start</label>
                        </div>
                        <div class="col-md-4 col-sm-4 form-group">
                            <input type="date" name="integration_start_date" id="" class="form-control">
                        </div>
                        <div class="col-md-2 col-sm-2 form-group">
                            <label for="start">End</label>
                        </div>
                        <div class="col-md-4 col-sm-4 form-group">
                            <input type="date" name="integration_end_date" id="" class="form-control">
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2 mb-2" align="center">
                            <button type="button" class="btn btn-primary" style="width: 34%;" onclick="toggleModal()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function toggleModal() {
  if ($("#integrationModal")[0]?.classList?.contains('hide-modal')) {
    $("#integrationModal")?.removeClass("hide-modal"); 
    $("body")?.addClass("disable-scroll");   
  } else {
    $("#integrationModal")?.addClass("hide-modal"); 
    $("body")?.removeClass("disable-scroll");   
  }

  $(".remove-access").click(e=>{
    let employee_integration_id = $(e.target).attr("data-id");
    console.log(employee_integration_id)
    if(employee_integration_id){
      let value = $(`.integration${employee_integration_id}`).val()
      let is_integration_deleted = value == "0" ? 1 : 0;
      $(`.integration${employee_integration_id}`).val(is_integration_deleted)
      if(is_integration_deleted){
        $(e.target).css("background-color","black");
      }else{
        $(e.target).css("background-color","blue");
      }
    }
  })
}
</script>