<div class="container mt-4">
<%= form_for @employee, :url => employee_path(@employee.id), method: :put do |form| %>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h4>Employee</h4>
    </div>
    <div class="col-md-6 col-sm-6 mb-3" style="display: flex;justify-content: right;align-items: center;">
      <%= link_to "Delete", employee_path(@employee.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger", style: "margin-right: 10px;"  %>
      <%= link_to "Cancel", employee_index_path, data: {turbo_method: :get}, class: "btn btn-warning", style: "margin-right: 10px;" %>
      <button class="btn btn-primary" id="add-staff">Save</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body p-4">
      <h5>Edit Employee</h5>
      <% if alert %>
      <div class="alert alert-<%= alert %>" role="alert">
        <%= notice %>
      </div>
      <% end %>
        <%= render :partial => "form", :object => form %>
    </div>
  </div>
<% end %>
  <div class="card mt-3">
    <div class="card-body p-4">
      <h5 class="mb-4">Activities</h5>
      <div class="d-flex">
        <div class="circle" style="background-color: red;height: 14px;width: 14px;border-radius: 7px;"></div>
        <div class="flex-column">
          <div class="date" style="color:grey">12:40 AM</div>
          <div class="date"><b>Neha Malik</b> removed Slack access from Siya</div>
        </div>
      </div>
      <div class="d-flex">
        <div class="circle" style="background-color: red;height: 14px;width: 14px;border-radius: 7px;"></div>
        <div class="flex-column">
          <div class="date" style="color:grey">12:40 AM</div>
          <div class="date"><b>Neha Malik</b> removed Slack access from Siya</div>
        </div>
      </div>
      <div class="d-flex">
        <div class="circle" style="background-color: red;height: 14px;width: 14px;border-radius: 7px;"></div>
        <div class="flex-column">
          <div class="date" style="color:grey">12:40 AM</div>
          <div class="date"><b>Neha Malik</b> removed Slack access from Siya</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(()=>{
    setTimeout(() => {
     $(".alert").hide();
    }, 3000);
  });
</script>