<div class="container mt-4">
<%= form_for :user, url: '/staff',id: 'staff-form', method: :post do |form| %>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h4>Staff</h4>
    </div>
    <div class="col-md-6 col-sm-6 mb-3" style="display: flex;justify-content: right;align-items: center;">
      <%= link_to "Cancel", staff_index_path, data: {turbo_method: :get}, class: "btn btn-warning", style: "margin-right: 10px;" %>
      <button class="btn btn-primary" id="add-staff">Save</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body p-4">
      <h5>Add Staff</h5>
      <% if alert %>
      <div class="alert alert-<%= alert %>" role="alert">
        <%= notice %>
      </div>
      <% end %>
        <%= render :partial => "form", :object => form %>
    </div>
  </div>
<% end %>
</div>

<script>
  $(document).ready(()=>{
    setTimeout(() => {
      $(".alert").hide();
    }, 3000);
  });
</script>