<div class="container" style="display: flex;align-items: center;">
  <div class="card" style="width: 25rem;margin-top:0px;">
    <h1 align="center">Login</h1>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email,class: "form-control", autofocus: true, autocomplete: "email" %>
                </div>

                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password,class: "form-control", autocomplete: "current-password" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
              <br>
                <div class="form-group">
                  <button class="btn btn-primary" style="width: 100%;">Login</button>
                </div>
                <div class="form-group" align="center">
                  OR
                </div>
                <div class="form-group">
                  <%= render "devise/shared/links" %>
                </div>
            <% end %>
          </div>
      </div>
    </div>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2014/04/02/10/36/man-303961_1280.png" style="margin-top: 4px;height: 299px;width: 333px;margin-left: 100px;">
    </div>
  </div>

