<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: Arial, sans-serif;
    }
    .container {
      display: flex;
      height: 100vh;
      background-color: #fff;
    }
    .login-container {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .login-container .logo img {
      width: 150px;
      margin-bottom: 40px;
    }
    .login-container h1 {
      margin: 0;
      font-size: 36px;
      font-weight: bold;
      color: #333;
    }
    .login-container h3 {
      margin: 10px 0 30px;
      font-size: 18px;
      color: #777;
    }
    .login-container .form-control {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .login-container .btn {
      width: 100%;
      padding: 10px;
      background-color: #4B3DFE;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    .login-container .btn:hover {
      background-color: #3a2ebe;
    }
    .right-container .background-image {
      width: 1000px;
      height: 100vh;
      position: absolute;
      left: 562px;
      background: url("/assets/images/backgroundlogin.png") no-repeat;
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="left-container">
      <div class="logo">
              <%= image_tag "logo.svg", style: "width: 371px; height: 65px; top: 75px; left: 74px; padding: 0px 1.62px 0px 0.63px; gap: 0px; opacity: 0px;" %>
      </div>
      <div class="login-container">
        <h1>Welcome Back <span>👋</span></h1>
        <h3>We will take full responsibility for your IT management.</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", placeholder: "Enter Email Address", autofocus: true, autocomplete: "email" %>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autocomplete: "current-password" %>
          <%= f.submit "Login", class: "btn" %>
        <% end %>
      </div>
    </div>
    <div class="right-container">
      <div class="background-image"></div>
      </div>
  </div>
</body>
</html>
